<h2>Login component</h2>

<div *ngIf="Okta">
  <h3>{{authenticationMode}}</h3>
  isAuthenticated: {{isAuthenticated}}
<button *ngIf="!isAuthenticated" (click)="login()"> Login With OKTA </button>
<button *ngIf="isAuthenticated" (click)="logout()"> Logout {{authenticationMode}} </button>
<br>
<a *ngIf="isAuthenticated" [routerLink]="[ '/control-panel', 'overview' ]">control panel</a>
</div>

<div *ngIf="Jwt">
  <h3>{{authenticationMode}}</h3>
  <button  (click)="login()"> Login with JWT </button>
  <button *ngIf="isAuthenticated" (click)="logout()"> Logout {{authenticationMode}} </button>
</div>

<br>
<a [routerLink]="[ '/home' ]">home</a>

